/* цвет основного текста #757575 */
/* цвет вторичного текста rgba(33, 33, 33, 1) */
/* основной фон #E5E5E5;*/
/* вторичный фон #2F303A */
/* акцент  #2196F3*/

:root {
  --title-text-color: #757575;
  --primary-text-color: rgba(33, 33, 33, 1);
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-color: #2f303a;
  --button-color: #ffffff;
  --portfolio-title: #212121;
  --primary-button-hover-focus: #188ce8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

/* Утилиты */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Vissualy Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
}

/* logo */
.nav-header {
  display: flex;
}

.nav-header .logo {
  padding-top: 24px;
}

.logo {
  margin-right: 93px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.logo-secondary {
  color: #000000;
}

.logo-secondary:focus,
.logo-secondary:hover {
  color: #000000;
}

/* Навигация */

.site-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}

.link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Адрес */
.header-list {
  list-style: none;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-decoration: none;
  fill: #757575;
  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.header-mail {
  margin-right: 10px;

}

.header-phone {
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* основной контент */
/* ГЕРОЙ */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/webstudio/Img.jpg);
  background-color: var(--secondary-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--button-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.primary-button:focus,
.primary-button:hover {
  background-color: var(--primary-button-hover-focus);
}

/* <бэкдроп и модальное окно */
.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);


}

.modal {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: scale(1) translate(-50%, -50%);
  background-color: #ffffff;
  transition: transform 250ms var(--transition-timing-function);

}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: 250ms var(--transition-timing-function);
}

.close-button:hover {
  fill: var(--accent-color);
}

/* Форма модалки */
.form-field {
  padding: 40px;
}

.form-title {
  display: block;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.2;
  color: #212121;

  user-select: none;
}

.form-label {
  position: relative;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.form-label:not(:first-of-type) {
  margin-top: 10px;
}



.form-name {
  text-align: start;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;

}


.form-input {
  display: block;
  padding-left: 42px;
  padding-right: 5px;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
cursor: pointer;
}


.form-input:focus {
  border: 1px solid var(--accent-color);
}


.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}



.form-input+.form-icon {
  transition: fill 250ms var(--transition-timing-function),
    border 250ms var(--transition-timing-function);
}

.form-input:focus+.form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  display: block;
  margin-bottom: 17px;
  padding: 12px 16px;
  height: 120px;

  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);
  cursor: pointer;
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

/* форма чекбокс */



.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  user-select: none;
}



.box-icon-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  width: 16px;
  height: 15px;

  outline: 2px solid black;
  outline-offset: -2px;
  border-radius: 2px;
  transition-property: background-color, outline;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  cursor: pointer;
}

.form-input-checkbox:checked+.box-icon-checkbox {
  background-color: var(--accent-color);
  outline: transparent;
}

.form-icon-check {
  fill: #FFFFFF;
}



.form-name-checkbox {

  line-height: 1.7;
  color: #757575;
}

.form-link {
  line-height: 1.7;
  color: var(--accent-color);
}

.form-button {
  padding: 0;
  width: 200px;
  height: 50px;

  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}


/* Приемущества сайта */
.main-sextion {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list .item:not(:last-child) {
  margin-right: 30px;
}

.main-list>.item {
  flex-basis: calc(100% / 3 - 30px);
}

.main-list {
  list-style: none;
  display: flex;
}

.benefits {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 120px;
  border-radius: 4px;
}

.main-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.main-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* чем занимается фирма */
.work-section {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  list-style: none;
  display: flex;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list>.item {
  flex-basis: calc(100% / 2 - 30px);
  position: relative;
}

.work-service {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  ;
}

.work-text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-photo {
  background-color: var(--background-color);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  list-style: none;
  display: flex;
}

.team-list>.item:not(:last-child) {
  margin-right: 30px;
}

.team-list>.item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.worker {
  background-color: var(--background-color);
}

.padding-team {
  padding-top: 30px;
}

.team-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-network {
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: flex;
  height: 44px;
}

.network-list {
  display: flex;
  list-style: none;
}

.network-link {
  display: flex;
  width: 44px;
  height: 44px;
  list-style: none;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50px;
  transition-property: fill background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);

}

.network-link:hover,
.network-link:focus {
  background-color: var(--accent-color);
  fill: white;

}

.network-item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.thumb {
  height: 184px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  margin-right: -30px;
  display: flex;
  list-style: none;
}

.clients-item {
  flex-basis: calc((100% -30 * 5) / 6);
  margin-right: 30px;
  display: flex;

}

.clients-link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}



.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.address {
  margin-right: 70px;
}

.footer-address {
  padding-bottom: 9px;
}

.footer-link {
  display: block;
}

.container .footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.container>.logo {
  padding-top: 0;
}

.logo-footer {
  color: var(--background-color);
}

.footer {
  background-color: #2f303a;
}

.footer-address {
  color: white;
  font-style: normal;
  line-height: 1.7;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.footer-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}

.footer-thumb {
  display: flex;
  align-items: baseline;
}

.social {
  width: 206px;
  height: 80px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list {
  display: flex;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 50px;
  transition-property: fill background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.form-footer {
  display: flex;
  align-items: end;
  margin-left: 93px;
}

.form-email-footer {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.footer-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  outline: transparent;
  color: white;
  cursor: pointer;
}
.footer-input::placeholder{
  font-size: 16px;
    line-height:1.3;
    color: rgba(255, 255, 255, 0.6);
}

.form-footer-button {

  display: flex;

  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;

}

.form-icon-button {
  margin-left: 10px;
}


.footer-label {
  margin-bottom: 20px;
  
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Страница портфолио */
/* Секция кнопки */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.projects-buttons {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}

.secondary-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.projects-buttons>.item:not(:last-child) {
  margin-right: 8px;
}

.projects-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.secondary-button:focus,
.secondary-button:hover {
  background-color: var(--accent-color);
  color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секция проекты */
.projects-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.projects-list>.item-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  display: block;
  text-decoration: none;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}




.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);

}

.card:hover .projects-overlay {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms var(--transition-timing-function);
}

.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}

.projects-title {
  margin-bottom: 4px;
}

.projects-link {
  background-color: #eeeeee;
  text-decoration: none;
}

.projects-title {
  color: var(--portfolio-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}